body {
  width: 100%;
  height: 100%;
}
.chess {

  .chess-board {
    width: 800px;
    height: 800px;
    background-color: aqua;
  }
  .chess-pieces {
    height: 100%;
    width: 100%;
  }
  .black-pawn {  
    background-image: url(../images/black-pawn.svg)
  }
  .black-rook {
    background-image: url(../images/black-rook.svg)
  }
  .black-knight {
    background-image: url(../images/black-knight.svg)
  }
  .black-bishop {
    background-image: url(../images/black-bishop.svg)
  }
  .black-king {
    background-image: url(../images/black-king.svg)
  }
  .black-queen {
    background-image: url(../images/black-queen.svg)
  }
  .white-pawn {
    background-image: url(../images/white-pawn.svg)
  }
  .white-rook {
    background-image: url(../images/white-rook.svg)
  }
  .white-knight {
    background-image: url(../images/white-knight.svg)
  }
  .white-bishop {
    background-image: url(../images/white-bishop.svg)
  }
  .white-king {
    background-image: url(../images/white-king.svg)
  }
  .white-queen {
    background-image: url(../images/white-queen.svg)
  }
}